# Temporary files- KiCAD
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*.step
*.iges
*/language.settings.xml
Firmware/tsm-flight-computer/.settings/language.settings.xml

